{% extends 'base.html' %}
{% load url from future %}
{% block sidebar %}
<p>Enter any combination of the following, one per line.
Input can be entered directly into the text box, or uploaded as a file.</p>
<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Example (human)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>UniProt name</td>
            <td>ACTA_HUMAN</td>
        </tr>
        <tr>
            <td>UniProt accession</td>
            <td>P62736</td>
        </tr>
        <tr>
            <td>RefSeq</td>
            <td>NP_001135417.1</td>
        </tr>
        <tr>
            <td>Ensembl</td>
            <td>ENSP00000224784</td>
        </tr>
        <tr>
            <td>IPI</td>
            <td>IPI00008603</td>
        </tr>
        <tr>
            <td>GeneID</td>
            <td>59</td>
        </tr>
        <tr>
            <td>Gene name</td>
            <td>ACTA2</td>
        </tr>
        <tr>
            <td>GI accession</td>
            <td>GI:213688375</td>
        </tr>
    </tbody>
</table>
{% endblock %}

{% block content %}
<form enctype="multipart/form-data" method="post">
{% csrf_token %}
{% if form.non_field_errors %}
<ul class="errorlist">
{% for e in form.non_field_errors %}
<li><b>{{ e }}</b></li>
{% endfor %}
</ul>
{% endif %}
{% for field in form %}
<label for="{{ field.auto_id }}">{{ field.label }}
{{ field.errors }}
{{ field }}
</label>
{% endfor %}
<br />
<input type="submit" class="btn btn-primary" value="Search" />
</form>
{% endblock %}
